@font-face { font-family: Hernandez; src: url('../fonts/Hernandez.otf'); } 

body {
  background-color: #DEBE75;
}

#main {
  padding-top: 180px;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
  background-image: url('../img/flare.png');
  background-repeat: no-repeat;
}

h1 {
  font-family: Hernandez;
  color: #026362;
  font-size: 5em;
  letter-spacing: 0.04em;
  margin-bottom: 50px;
}